<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xoj.backend.mapper.SubmitRecordsMapper">
  <resultMap id="BaseResultMap" type="com.xoj.backend.entity.SubmitRecords">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="question_name" jdbcType="VARCHAR" property="questionName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="time_cost" jdbcType="INTEGER" property="timeCost" />
    <result column="memory_cost" jdbcType="DOUBLE" property="memoryCost" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>

</mapper>