<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xoj.backend.mapper.SubmitRecordsMapper">
  <resultMap id="BaseResultMap" type="com.xoj.backend.entity.SubmitRecords">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="question_name" jdbcType="VARCHAR" property="questionName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="time_cost" jdbcType="INTEGER" property="timeCost" />
    <result column="memory_cost" jdbcType="DOUBLE" property="memoryCost" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="codes" jdbcType="VARCHAR" property="codes" />
  </resultMap>

  <resultMap id="submitRecordsModelMap" type="com.xoj.backend.model.SubmitRecordsModel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="question_name" jdbcType="VARCHAR" property="questionName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="result" jdbcType="INTEGER" property="result" />
    <result column="time_cost" jdbcType="INTEGER" property="timeCost" />
    <result column="memory_cost" jdbcType="DOUBLE" property="memoryCost" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="codes" jdbcType="VARCHAR" property="codes" />
  </resultMap>
  <select id="selectQuestionRecords" resultMap="submitRecordsModelMap">
    SELECT id, question_id, question_name, user_id, create_time, lang, result, time_cost, memory_cost, comments
    FROM oj.submit_records
    WHERE (user_id = #{id} AND question_id = #{questionId})
    ORDER BY create_time DESC
  </select>
  <select id="selectUserRecords" resultMap="submitRecordsModelMap"
          parameterType="java.lang.Long">
    SELECT id, question_id, question_name, user_id, create_time, lang, result, time_cost, memory_cost
    FROM oj.submit_records
    WHERE (user_id = #{id})
    ORDER BY create_time DESC
    LIMIT 10
  </select>
  <select id="selectQuestionIds" resultType="java.lang.Long" parameterType="java.lang.Long">
    SELECT DISTINCT question_id FROM oj.submit_records
    WHERE (user_id = #{userId} AND result = 0)
  </select>
  <select id="selectOneRecord" resultMap="submitRecordsModelMap"
          parameterType="java.lang.Long">
    SELECT *
    FROM oj.submit_records
    WHERE id = #{id}
  </select>
</mapper>