<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xoj.backend.mapper.CompetitionMapper">
    <resultMap id="BaseResultMap" type="com.xoj.backend.entity.Competition">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="brief_introduction" jdbcType="LONGVARCHAR" property="briefIntroduction"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
    </resultMap>

    <resultMap id="competitionModel" type="com.xoj.backend.model.CompetitionModel">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="brief_introduction" jdbcType="LONGVARCHAR" property="briefIntroduction"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="creator_name" jdbcType="VARCHAR" property="creatorName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
    </resultMap>

    <select id="selectCompetition" resultMap="competitionModel"
            parameterType="java.lang.Long">
        SELECT *
        FROM oj.competition
        WHERE id = #{id}
    </select>
    <select id="selectCompetitions" resultMap="competitionModel">
        SELECT *
        FROM oj.competition
        WHERE is_delete = 0
        ORDER BY start_time DESC
    </select>

    <select id="selectByStartTime" resultMap="competitionModel">
        SELECT *
        FROM oj.competition
        WHERE is_delete = 0
        AND start_time = #{start_time}
    </select>

    <select id="selectByEndTime" resultMap="competitionModel">
        SELECT *
        FROM oj.competition
        WHERE is_delete = 0
          AND end_time = #{end_time}
    </select>

</mapper>