<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xoj.backend.mapper.QuestionCompetitionMapper">
    <resultMap id="BaseResultMap" type="com.xoj.backend.entity.QuestionCompetition">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="question_id" jdbcType="BIGINT" property="questionId"/>
        <result column="competition_id" jdbcType="BIGINT" property="competitionId"/>
        <result column="score" jdbcType="TINYINT" property="score"/>
        <result column="is_delete" jdbcType="BIT" property="isDelete" />
    </resultMap>
    <select id="selectCompetitionId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT competition_id
        FROM oj.question_competition
        WHERE (question_id = #{questionId} AND is_delete = 0)
    </select>

</mapper>