<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xoj.backend.mapper.UserBaseMapper">
    <resultMap id="UserMap" type="com.xoj.backend.model.UserRankingModel">
        <result column="id" jdbcType="BIGINT" property="userId"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="intro" jdbcType="VARCHAR" property="intro"/>
        <result column="score" jdbcType="TINYINT" property="score"/>
        <result column="ranking" jdbcType="TINYINT" property="ranking"/>
        <result column="solved_number" jdbcType="TINYINT" property="solvedNumber"/>
    </resultMap>

    <!--    <select id="selectUser" resultMap="UserMap">-->

    <!--    </select>-->

    <!--    <select id="selectUserDeleted" resultMap="UserMap">-->

    <!--    </select>-->

    <select id="selectUsersOrderedByRanking" resultMap="UserMap">
        SELECT id, NAME, intro, score, ranking, solved_number
        FROM oj.user_base
        WHERE is_delete = 0
        ORDER BY ranking DESC, solved_number DESC
    </select>
</mapper>